body { background: #3acd4d; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 10px; display: flex; }
.block-helper-0 { color: #d39a04; font-size: 19px; margin-bottom: 5px; }
.block-auth-1 { color: #6c8a59; font-size: 15px; margin-bottom: 5px; }
.block-token-2 { color: #771092; font-size: 20px; margin-bottom: 5px; }
.block-shipping-3 { color: #5a386d; font-size: 14px; margin-bottom: 5px; }
.block-helper-4 { color: #6a931c; font-size: 13px; margin-bottom: 5px; }
.block-filter-5 { color: #d52331; font-size: 20px; margin-bottom: 5px; }